<div class="container-fluid">
     <span  class="logo">
       <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=27a80c31-8bbf-475a-9194-19d1a0b772f6&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea"></span>
     <nav class="navbar navbar-expand-lg navbar-light bg-light" style="float:right;">
       <ul class="navbar-nav" type="none" >
         <li class="nav-item" style="float:left;"><h3>Product</h3></li>
         <li class="nav-item" style="float:left;"><h3>Solutions</h3></li>
         <li class="nav-item"style="float:left;"><h3>Pricing</h3></li>
         <li class="nav-item"style="float:left;"><h3><input type="button" class="mybutton1" value="Login"></h3></li>
         <li class="nav-item"style="float:left;"><h3><input type="button" class="mybutton2" value="Sign Up"></h3></li>
       </ul>
     </nav>
   </div>
   <div class="hamburger" onclick="myFunction(this)" style="float: right;top: -20px;position: relative;">
 <div class="bar1"></div>
 <div class="bar2"></div>
 <div class="bar3"></div>
</div>

<script>
function myFunction(x) {
 x.classList.toggle("change");
}
</script>
 <div class="blob-small"></div>
 <span style="color:#222222;font-style: Montserrat-Medium;font-size:3rem;left: 250px;position: absolute;top: 200px;">
   <b>We make it Super<br>Simple</b><br><img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=16ca30bc-18e9-4d77-9a74-1de68e1bd30c&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
 </span><br>
 <span></span>
 <div class="collect-img">
     <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=cedbc98d-0525-4c49-bc43-08befea3bb4c&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea"><br><br><br>
     <span class="accounting_dots">
       <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=3f574e31-54d0-4277-88b9-6dbde395674c&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea"></span>
 </div>
<div style="position: absolute;
top: -227.9068603515625px;
left: 652px;width:80%;height:80%;
opacity: 0.5;
height: 1192px;
transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);">
 <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=754f0969-2a8b-4900-859d-e155ce09813b&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
</div>
<div style="color:black;top: 270px;position: absolute;
left: 950px;
width: 40%;
height: 275px;
border-radius: 10px;">
 <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=d76a02db-b22c-43a4-9d5c-acd2d839acd4&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
 <span class="accounting_dots" style="top: -65px; z-index: -1;">
   <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=3f574e31-54d0-4277-88b9-6dbde395674c&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
 </span>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="float:none;"></div>
   <div class="row">
<div class="section2 col-sm-4"style="color: grey;">
          <div class="section">
           <span>
             <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=f832d41b-539e-4292-9060-aa5e34704ce8&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
           </span>
            <h3><b>Quick cash disbursement</b></h3>
              Get terms loans that your business needs within 72 hrs
          </div>
          <div class="section" >
           <span>
             <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=d8380dc3-2615-4b20-b46a-058627f22baa&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
           </span>
            <h3><b>Low-interest rate</b></h3>
              Achieve your financial goals with an amazing interest rate starting at 13% per annum
          </div>

            <div class="section">
               <span>
                 <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=88fc825f-981c-4a8e-a316-f374fdbe21ce&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
               </span>
                <h3><b>Zero Paper Work</b></h3>
                  Get Started instantly by submitting only yours basic details & bank statement.
              </div>
    </div>
<div class="col-sm-4" style="top:150px;position:relative;">
            <div class="section" style="background-color: #9F62C9;color: white;">
           <span>
             <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=7e76c77a-3ca2-47a7-923c-f82811d1bf87&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
           </span>
            <h3><b>Ace your business finances</b></h3>
            Manage banking, accounting & everything in between, on one platform
          </div>
          <div class="section" >
           <span>
             <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=149be267-1f80-437f-bbac-f99c7afff0b9&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
           </span>
            <h3><b>Loans to fight COVID-19</b></h3>
               Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
          </div>
  </div>
  <div class="col-sm-4" style="position:relative;left:120px;top:250px;">
      <div class="section2"style="color: grey;">

            <div class="" style="font-size: 2.2rem;">
            <b>Boost your business<br> with Open</b><br>
            <span>
             <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:32fd9b77-5ce0-49f6-93b9-c8ea63be5e08;version=0?component_id=16ca30bc-18e9-4d77-9a74-1de68e1bd30c&api_key=CometServer1&access_token=1611012981_urn%3Aaaid%3Asc%3AUS%3A32fd9b77-5ce0-49f6-93b9-c8ea63be5e08%3Bpublic_de90b3f3926ae457d624ed572180e6257004a0ea">
            </span>
            <p>Get your hands on a term loan that's crafted for your business.</p>
            <br>
            <button class="mybtn btn-lg" type="buttion" name="AccountOpen">Get an Open Account</button>
            </div>
</div>
</div></div>

<router-outlet></router-outlet>
